---
import leaf from '@/assets/leaf.svg';
import daisy from '@/assets/daisy.svg';
import rose from '@/assets/rose.svg';
---

<div class="timeline-container">
    <div id="academic-container">
        <sl-details summary="Faith">
            <div id="divider">
                <sl-icon src={daisy.src}></sl-icon> <br>
            </div>
            <sl-icon slot="expand-icon" src={leaf.src}></sl-icon>
            <sl-icon slot="collapse-icon" src={leaf.src}></sl-icon>


            <!--  -->
            <strong>dasdasdasdasd</strong>
            <p>dasdasdasdasd</p>
            <ul>
                <li>dasdasdasd</li>
                <li>dasdasdasd</li>
                <li>dasdasdasd</li>
            </ul>

            <sl-divider></sl-divider>

            <strong>dasdasdasd</strong>
            <p>dasdasdasd</p>
            <ul>
                <li>dasdasdasd</li>
            </ul>
        </sl-details>
    </div>

    <div id="experience-container">
        <sl-details summary="Baking">
            <div id="divider">
                <sl-icon src={daisy.src}></sl-icon> <br>
            </div>
            <sl-icon slot="expand-icon" src={leaf.src}></sl-icon>
            <sl-icon slot="collapse-icon" src={leaf.src}></sl-icon>


            <strong>dasdasdasd</strong>
            <p>dasdasdasd</p>
            <ul>
                <li>Sdasdasdasd</li>
            </ul>

            <sl-divider></sl-divider>

            <strong>dasdasdasd</strong>
            <p>dasdasdasdm</p>
            <ul>
                <li>Rdasdasdasds</li>
            </ul>

            <sl-divider></sl-divider>

            <strong>Sdasdasdasddasdasdasd</strong>
            <p>dasdasdasddasdasdasddasdasdasd</p>
            <ul>
                <li><strong>dasdasdasddasdasdasddasdasdasd</strong></li>
            </ul>
        </sl-details>
    </div>

    <div id="experience-container">
        <sl-details summary="Garden">
            <div id="divider">
                <sl-icon src={daisy.src}></sl-icon> <br>
            </div>
            <sl-icon slot="expand-icon" src={leaf.src}></sl-icon>
            <sl-icon slot="collapse-icon" src={leaf.src}></sl-icon>
            <strong>dasdasdasddasdasdasd </strong>
            <p>Gdasdasdasddasdasdasddasdasdasd</p>
            <ul>
                <li>dasdasdasddasdasdasddasdasdasdr</li>
            </ul>

            <sl-divider></sl-divider>

            <strong>dasdasdasddasdasdasddasdasdasd</strong>
            <p>Gdasdasdasdure </p>
            <ul>
                <li>addasdasdasddasdasdasdunty </li>
                <li>cdasdasdasddasdasdasdasdy </li>
            </ul>

            <sl-divider></sl-divider>

            <strong>dasdasdasd</strong>
            <p>Adasdasdasddasdasdasdce</p>
            <ul>
                <li><strong>dasdasdasddasdasdasds)</strong></li>
                <li>fadasdasdasd21 </li>
                <li>ddasdasdasddasdasdasds</li>
            </ul>

        </sl-details>
    </div>
</div>

<style>
    #divider {
        text-align: center;
        padding-bottom: 15px;
    }
    #academic-container, #experience-container , #xinfo{
        padding: 15px;
        font-size: medium;
    }
    #card-basic {
        width: 100%;
        text-align: center;
    }
    @media screen and (min-width: 1536px) {
        #academic-container, #experience-container , #xinfo{
            font-size: 1.5rem;
        }
    }
</style>
